.App {
  width: 600px;
  margin: 0 auto;
  background-color: #e0f7fa;
  /* 背景色を水色に */
  border-radius: 16px;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  /* 全体のスクロールを禁止 */
}

header {
  text-align: center;
  height: 75px;
  font-size: 2em;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
  max-height: calc(100vh - 160px);
  /* 画面全体の高さから他の要素の高さを引いた値 */
  overflow-y: auto;
  /* スクロールを有効にする */
  align-items: center;
  /* 要素を中央寄せにする */
}

.chat button {
  width: 150px;
  height: 50px;
  background-color: #00c300;
  /* LINEのイメージに近い緑色 */
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  flex-shrink: 0;
  /* ボタンの高さを固定 */

  display: none;
}

.chat button:hover {
  background-color: #009900;
  /* ホバー時の色を少し濃くする */
}

.chat button:active {
  box-shadow: 0 0 10px rgba(0, 153, 0, 0.5);
  /* アクティブ時の影の色を調整 */
}

.output,
.input {
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.output {
  background-color: #ffffff;
  /* outputの背景色を白に */
  align-self: flex-start;
  /* 左寄せにする */
}

.input {
  background-color: #dcf8c6;
  /* inputの背景色を緑に */
  align-self: flex-end;
  /* 右寄せにする */
}

.diary {
  background-color: #f5f8d2;
  /* 背景色を薄い黄色に */
  border-radius: 16px;
  /* 角を丸くする */
  padding: 20px;
  /* 内側の余白を追加 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 影を追加 */
  margin: 20px 0;
  /* 上下の余白を追加 */
  width: 100%;
  /* 幅を100%にする */
  box-sizing: border-box;
  /* ボックスのサイズをボーダーとパディングを含める */
}

.diary h2 {
  font-size: 1.5em;
  /* 見出しのフォントサイズを大きくする */
  margin-bottom: 10px;
  /* 見出しの下に余白を追加 */
}

.diary p {
  font-size: 1em;
  /* 段落のフォントサイズを設定 */
  line-height: 1.5;
  /* 行間を設定 */
}


.form {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  display: flex;
}

.form input {
  flex: 1;
  height: 40px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.form input:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  outline: none;
}

.form button {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  background-image: url('arrow.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form button:hover {
  background-color: #0056b3;
}

.form button:active {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}